automations/deallocate-based-on-activitylog/deallocate-stoppedvm.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_DeallocateStoppedVM_name": {
            "defaultValue": "DeallocateStoppedVM",
            "type": "string"
        },
        "connections_azurevm_externalid": {
            "defaultValue": "",
            "type": "string"
        },
        "subscription_id": {
            "defaultValue": "",
            "type": "string"
        },
        "managed_api_id": {
            "defaultValue": "",
            "type": "string"
        },
        "resourcegroup_name": {
            "defaultValue": "",
            "type": "string"
        },
        "resourcegroup_location": {
            "defaultValue": "westeurope",
            "type": "string"
        } 
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_DeallocateStoppedVM_name')]",
            "location": "[parameters('resourcegroup_location')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_HTTP_request_is_received": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "context": {
                                                    "properties": {
                                                        "activityLog": {
                                                            "properties": {
                                                                "channels": {
                                                                    "type": "string"
                                                                },
                                                                "correlationId": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "eventDataId": {
                                                                    "type": "string"
                                                                },
                                                                "eventSource": {
                                                                    "type": "string"
                                                                },
                                                                "eventTimestamp": {
                                                                    "type": "string"
                                                                },
                                                                "level": {
                                                                    "type": "string"
                                                                },
                                                                "operationId": {
                                                                    "type": "string"
                                                                },
                                                                "operationName": {
                                                                    "type": "string"
                                                                },
                                                                "properties": {
                                                                    "properties": {
                                                                        "cause": {
                                                                            "type": "string"
                                                                        },
                                                                        "currentHealthStatus": {
                                                                            "type": "string"
                                                                        },
                                                                        "details": {
                                                                            "type": "string"
                                                                        },
                                                                        "previousHealthStatus": {
                                                                            "type": "string"
                                                                        },
                                                                        "title": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "status": {
                                                                    "type": "string"
                                                                },
                                                                "submissionTimestamp": {
                                                                    "type": "string"
                                                                },
                                                                "subscriptionId": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "properties": {
                                                    "properties": {},
                                                    "type": "object"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "schemaId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Virtuellen_Computer_ausschalten": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurevm']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/subscriptions/[parameters('subscription_id')]/resourcegroups/[parameters('resourcegroup_name')]/providers/Microsoft.Compute/virtualMachines/@{encodeURIComponent(variables('VMName'))}/deallocate",
                                        "queries": {
                                            "api-version": "2019-12-01"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_1": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@variables('Details')",
                                            "Virtual Machine is stopping"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "VMName",
                                        "type": "string",
                                        "value": "@{triggerBody()?['data']['essentials']['configurationItems'][0]}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_1": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Details",
                                        "type": "string",
                                        "value": "@{triggerBody()?['data']['alertContext']['properties']['details']}"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurevm": {
                                "connectionId": "[parameters('connections_azurevm_externalid')]",
                                "connectionName": "azurevm",
                                "id": "[parameters('managed_api_id')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}